.text-h1 {
  float: left;
  color: white;
  padding-left: 5rem;
  font-style: normal;
}

.text-h2 {
  display: flex;
  justify-content: center; /* Menempatkan konten di tengah secara horizontal */
  align-items: center; /* Menempatkan konten di tengah secara vertikal */
  height: 80vh; /* Mengisi tinggi layar penuh */
  text-align: center;
  font-size: xx-large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding-right: 10rem;
}

li {
  float: right;
  margin: 1rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}