<footer class="bg-white border shadow dark:bg-gray-900 w-full fixed bottom-0 left-0">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">Michel Sinambela</a>, Web Developer At BPK PENABUR Jakarta.
  </span>
  </div>
</footer>


