<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= data.title %></title>
  <!-- <% if(!data.name) { %>
  <link rel="stylesheet" href="../css/app.css">
  <%  }else{ %>
    <link rel="stylesheet" href="css/app.css">
    <% } %> -->
  <link rel="stylesheet" href="/css/app.css">
  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->
</head>
<body>

</body>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#dataTables').DataTable();
  });
</script> -->
</html>