<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
      <%= data.title %>
  </title>
</head>
<body>
    <%- include('layouts/header') %>
      <div class=" bg-gradient-to-r from-cyan-500 to-sky-950  h-full min-h-[93vh] flex justify-center items-center">
        <p class="text-9xl text-white lowercase font-bold">
            <%= data.message %>
        </p>
      </div>
</body>
</html>